body {background-color:#000000;}

#banner
{
height: 120px;
margin-left:auto;
margin-right:auto;
width:70%;
}
#banner h1
{
font: bold 55px Helvetica, Sans-Serif;
background: #FFFFFF;
position:fixed;
top:10px;
left:5px;
}
#banner h2
{
font: bold 47px Helvetica, Sans-Serif;
background: #FFFFFF;
position:fixed;
top:56px;
left:5px;
}

#banner-inner { overflow: visible; padding: 0; }

#banner-header
{
position: absolute;
left: 0;
top: 0;
width: 100%;
margin: 0 auto;
padding: 0;
}

#banner-header a
{
display: block;
left: 0;
top: 0;
height: 170px;
text-indent: -1000em;
}

#banner-description
{
overflow: hidden;
width: 0;
height: 0;
margin: 0;
padding: 0;
text-indent: -1000em;
}

.pics img
{
margin: 5px 5px 5px 5px;
}
